.TrackersTable {
  margin: 30px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.TrackersTable,
.TrackersTable .MuiTableContainer-root {
  background-color: white;
}

.TrackersTable .MuiPaper-root {
  background-color: rgba(141, 42, 168);
}

.TrackersTable .MuiTableContainer-root {
  margin-top: 50px;
}

.TrackersTable .MuiTableContainer-root table thead tr th {
  text-align: justify;
}

.TrackersTable .MuiTableContainer-root table thead tr th:nth-child(n+3) {
  display: none;
}

@media only screen and (min-width:768px) {
  .TrackersTable .MuiTableContainer-root table thead tr th:nth-child(n+3) {
    display: table-cell;
  }
}
